* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(130deg, #6eeb7e,#fda085);
  color: white;
  font-family: 'Mukta', sans-serif;
  min-height: 100vh;
}

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #fda085;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #fda085;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 50%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 1s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #fda085;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1rem;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.complete-btn {
  background: #6eeb7e;
}

.trash-btn:hover {
  color: #fda085;
  background: white;
}

.complete-btn:hover {
  color: #6eeb7e;
  background: white;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #e69a85;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #e69a85;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3 ease;
}

.select:hover::after {
  background: white;
  color: #e69a85;
}